# gradle

.gradle/
build/
out/
classes/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/
run

# Files from Forge MDK
forge*changelog.txt

# kotlin
*.ws.kts

*.javaX
